.jodit-react-container {
  margin-left: 1rem;
}

.jodit-icon,
.jodit-toolbar-button__trigger > svg {
  fill: var(--textSecondary) !important;
}

.jodit-toolbar__box,
.jodit-status-bar {
  background-color: var(--backgroundDark) !important;
}

.jodit-workplace {
  background-color: var(--backgroundDefault) !important;
}

.jodit-dialog__panel {
  color: black !important;
}

.jodit-ui-button__text {
  color: var(--textPrimary) !important;
}

.jodit-popup__content {
  background-color: var(--backgroundAlt) !important;
}

.jodit-workplace {
  max-height: 200px !important;
}

.jodit_fullsize .jodit-workplace {
  max-height: unset !important;
}

.jodit-toolbar-button__button[aria-pressed='true'] {
  background-color: #c2c7d5 !important;
}

.jodit-react-container {
  width: 100% !important;
  margin: 10px;
}

.MuiTextField-root {
  margin: 0 !important;
}

.MuiSelect-select .nested {
  margin-left: 0 !important;
}

.imageLabel {
  padding: 40px 10px;
  width: 100%;
  text-align: center;
  height: 60px;
  border-radius: 10px;
  background: var(--backgroundDark);
  color: var(--textSecondary);
  display: table;
  cursor: pointer;
  border: 2px dashed var(--textSecondary);
}

.imageLabel:hover {
  background: var(--backgroundDefault);
}

#uploadImage {
  display: none;
}

.imageContainer {
  border: 1px solid var(--textSecondary);
  border-radius: 5px;
  margin-right: 10px;
}

.imageContainer img {
  margin: 5px;
  border-radius: 5px;
  cursor: -webkit-grab;
  cursor: grab;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.imageActions {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid var(--textSecondary);
}

.cke_top,
.cke_bottom {
  background-color: var(--backgroundDark) !important;
}

input[type='datetime-local']::-webkit-inner-spin-button,
input[type='datetime-local']::-webkit-clear-button {
  display: none;
}

input[type='datetime-local']::-moz-clear {
  display: none;
}
